php_value auto_prepend_file  "C:/xampp/htdocs/webpkj/pkj/server/pkjall.php"
php_value output_buffering 0
php_value date.timezone 'America/Sao_Paulo'
setenv pkj_dateformat "d/m/Y"
setenv pkj_servidor "mysql"
setenv pkj_endereco "localhost"
setenv pkj_usuario  "root"
setenv pkj_senha  ""
setenv pkj_base  "webpkj"

setenv pkj_sessao  "database"
