div.dt-buttons{
    margin-top:1px;
    padding-left:6px;
}
.datatables .pkjdiv{
    padding:0 !important;
    height:auto !important;
}
.datatables td{
    vertical-align: middle !important;
}
.dataTables_filter{
    padding-top: 4px;
}