/*
div.dt-buttons{
    margin-top:1px;
    padding-left:6px;
}
.datatables .pkjdiv{
    padding:0 !important;
    height:auto !important;
}
*/

/*
.dataTables_filter{
    padding-top: 4px;
}
div.dataTables_wrapper div.dataTables_length select{
    margin-top:1px;
    height: 37px;
}*/
.dt-button-collection{
    padding:0px !important;
}
.dt-button-collection-title{
    display: none !important;
}
.datatables td{
    vertical-align: middle !important;
}